<% div_class = (question.hidden? ? 'translucent' : '') %>

<div class="mt <%= "#{div_class}" %>">
  <div class="mb-sm">
    Вопрос от:
    <% if question.author.present? %>
      <%= link_to display_nickname(question.author), user_path(question.author),
                  class: "text-dark-red text-bold" %>
    <% else %>
      <span class="text-grey">Anonymous</span>
    <% end %>

    <div class="mt mb-sm">
      <%= simple_format tags_with_links("— #{question.body }"), tags: %w(a), attributes: %w(href) , wrapper_tag: 'p' %>
    </div>
  </div>

  <% if question.answer.present? %>
    <div class="mb-sm text-dark-red">
      <%= sanitize tags_with_links("— #{question.answer }"), tags: %w(a), attributes: %w(href) %>
    </div>
  <% end %>
</div>
<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% if current_user == question.user %>
    <div>
      <% edit_icon = (question.answer.present? ? 'pencil' : 'reply') %>
      <% edit_icon_title = (question.answer.present? ? 'Изменить вопрос' : 'Ответить') %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: edit_icon_title, class: 'mr-sm' %>

      <%= button_to fa_icon('trash-o'), question_path(question), method: :delete,
                    form: { data: { turbo_confirm: 'Вы уверены?' } }, title: 'Удалить вопрос', class: 'mr-sm' %>

      <% unless question.hidden? %>
        <%= button_to fa_icon('eye-slash'), hide_question_path(question.id), method: :patch, title: 'Скрыть вопрос',
                      form: { data: { turbo_confirm: 'Вы хотите скрыть вопрос?' } } %>
      <% end %>
    </div>
  <% end %>
</div>
