<div class="container">
  <%= render 'shared/errors', object: @question %>

  <h2 class="title-lg mb">Вопрос <%= @question.id %></h2>
  <p class="mt-sm"><%= link_to "Все вопросы @#{@question.user.nickname}", user_path(@question.user) %></p>

  <%= render 'question', question: @question %>

  <p class="mt"><%= link_to "Все вопросы", questions_path %></p>
</div>
