<div class="container">
  <h2 class="title mb">Вход</h2>

  <p class="mb mt">Введите свои email и пароль для входа</p>

  <div class="mt">
    <%= form_with scope: :session, url: session_index_path, data: { turbo: false } do |form| %>

      <p><%= form.label :email %></p>
      <p><%= form.text_field :email, class: 'form-text-field mb' %></p>

      <p><%= form.label :email %></p>
      <p><%= form.password_field :password, class: 'form-text-field mb' %></p>

      <p class="mt-lg"><%= form.submit 'Войти', class: 'button button-main' %></p>
    <% end %>
  </div>
</div>
